/* ! Colors */
body {
  --Eerie_Black: #252525;
  --Davys_Grey: #4F4F4F;
  --Blue_Bell: #8D91C7;
  --Uranium_Blue: #B0DAF1;
  --Mindaro: #DDFCAD;

  --Eerie_Black_99fade: rgba(37, 37, 37, 0.99);
  --Davys_Grey_5light: #424242;
  --Davys_Grey_10light: #363636;
  --Mindaro_10light: #c9fa7c;
  --Blue_Bell_20light: #d1d3e9;
  --Blue_Bell_30light: rgba(141, 145, 199, 0.3);
}

h1 {font-family: 'Merriweather Sans', sans-serif;}




/* ! Global */
/** Page basic template */

.content {
  max-width: 80vw;  min-height: 80vh;
}

body {
  display: grid;
  background-image: url(/img/background.svg);
  background-repeat: repeat;
  background-color: var(--Eerie_Black_99fade);

  grid-template-rows: 10vh calc(100% - 20vh) 10vh;
  grid-template-columns: 20% 80%;
  
  grid-gap: 0;  height: auto;  margin: 0;

  grid-template-areas:
      "header header"
      "nav content"
      "footer footer";
}

header{grid-area: header;}
nav{grid-area: nav;}
.content{grid-area: content;}
footer{grid-area: footer;}



/** Header */
header {
  background-color: var(--Davys_Grey_5light);
  opacity: 1;
  display: flex;
}

header img {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  max-height: 100%;  max-width: 100%;
}

header h1 {
  color: var(--Mindaro_10light);
  margin: 0px;
  font-size: calc( 100vw * calc(1/23) );

  display: flex;  align-items: center;  justify-content: center;
}

header .left, header .right {
  flex: 1;
  display: flex;  justify-content: left;  align-items: center;
  padding: 7px;
}



/** Footer */
footer {
  flex-direction: column;
  display: flex;  align-items: center;  justify-content: flex-end;
}

footer .rectangle {
  background-color: var(--Davys_Grey_5light);
  height: 10%;  width: 100%;
  display: flex;  justify-content: left;  align-items: center;
}

footer #first {
  height: fit-content;  width: fit-content;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 100px 100px 0px 0px;
  flex-direction: row;
  display: flex;  justify-content: left;  align-items: center;
}

footer a {
  margin: 0px 5px 0px 5px;
  width: calc(25vh * calc(1/4));
  aspect-ratio: 1 / 1;
  display: flex;  justify-content: center;  align-items: center;
}

footer svg {
  max-height: 100%;
  color: var(--Blue_Bell);
  transition: 0.4s;
}

footer a:hover svg {
  transition: 0.4s;
  color: var(--Blue_Bell_20light);
}



/** Navbar */
nav {display: flex;  justify-content: left;  align-items: center;}
nav li {white-space: nowrap;}
nav > ul {padding: 0px;  position: fixed;  top: 25vh;}
nav .single {list-style: circle;  color: var(--Blue_Bell);}

nav > ul > li > ul {
  list-style-position: inside;
  padding-inline-start: 2vw;
}

nav ul  {
  display: flex;  justify-content: center;  flex-flow: column;
  list-style: none;
  max-width: 100%;
}

nav a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--Uranium_Blue);
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;

  border-radius: 6px;
  margin:5px;  padding: 5px;
  
  transition: 0.1s;
  max-width: 20vw;
  font-size: calc( calc( 100vw * calc(1/160) ) + calc( 100vh * calc(1/80) ) );
}

nav a:hover {
  background-color: var(--Davys_Grey);
  transition: 0.3s;
}



/** Credits */
#credits {display: flex;  justify-content: center;  flex-flow: column;}
#credits h1 {color: var(--Blue_Bell);  align-self: center;}

#credits a {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #00000000 ;
  color:  var(--Mindaro);
  font-family: 'Roboto Condensed', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
  text-decoration: none;
}

#credits a:hover {border-color: var(--Blue_Bell);}





/* ! Accueil */
/** Grid template */
@media (max-width: 800px) {
  #accueil {
      display: grid;
      grid-template-rows: 40% 20% 40%;
      grid-template-columns: 100%;
      
      grid-gap: 0;  column-gap: 4%;  margin: 0;
      
      grid-template-areas:
          "image"
          "title"
          "text";
  }
  
  #accueil #text , #accueil #title {
      justify-content: center;
  }
  
  #accueil #image {
      align-items: flex-end;
  }
}

@media (min-width: 800px) {
  #accueil {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
      
      grid-gap: 0;  column-gap: 4%;  height: 80vh;  margin: 0;
      
      grid-template-areas:
          "title image"
          "text image";
  }
  
  #accueil #text , #accueil #title {
      justify-content: right;
  }
  
  #accueil #image {
      align-items: center;
  }
}

#accueil #title{grid-area: title;}
#accueil #text{grid-area: text;}
#accueil #image{grid-area: image;}



/** Page - Accueil */
#accueil #title h2 {margin: 0px;}

#accueil #image {
  display: flex;  justify-content: center;  max-width: fit-content;
  max-width: 90%;  max-height: 100%;
}

#accueil #image img {
  border-radius: calc(5vh * 4) calc(5vh * 1) calc(5vh * 2) calc(5vh * 1);
  max-width: 90%;  max-height: 90%;
}

#accueil #title {
  display: flex;  align-self: flex-end;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--Uranium_Blue);
  font-size: calc( 100vh * calc(1/40) );
}

#accueil #text {
  display: flex;  align-self: flex-start;
  font-family: 'Nunito', sans-serif;
  color: var(--Blue_Bell);
  font-size: calc( 100vh * calc(1/60) );
}

#accueil .wrapper {
  display: flex;  flex-flow: column;
  text-align: justify;
  width: 75%;
}

#accueil a {
  align-self: flex-end;
  font-size: calc( 100vh * calc(1/55) );
  color: var(--Mindaro);
  text-decoration: none;
  margin: 0px;  padding: 5px;
  border-radius: 5px;
}

#accueil #text a {
  background-color: #00000000;
  color: var(--Mindaro);
  transition: 0.5s;
}

#accueil #text a:hover {
  color: var(--Uranium_Blue);
  background-color: var(--Blue_Bell_30light);
  transition: 0.5s;
}




/* ! Histoire */
/** Grid Template Card*/
#histoire {overflow-wrap: break-word;  display: inline-block;}

#histoire .grid-wrap {
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 45% 10% 45%;
  height: 100%;

  grid-template-areas:
      "image"
      "title"
      "text";
}

#histoire .image {grid-area: image;}
#histoire .title {grid-area: title;}
#histoire .description {grid-area: text;}



/** Page - Histoire */
#histoire .image p {padding: 0px 5px;  white-space: nowrap;}
#histoire h1 {font-size: 1.7em;}

#histoire > div {
  display: inline-block;  vertical-align: top;
  width: 340px;  height: 340px;
  margin: 30px;  border-radius: 25px;
  aspect-ratio: 1 / 1;
  background-color: var(--Davys_Grey);
  transition: 0.5s;
}

#histoire .image {
  display: flex;  justify-content: center;  align-items: center;  flex-flow: column;
  align-self: center;  justify-self: center;  object-position: center;
  background-color: var(--Eerie_Black);
  height: 130px;  aspect-ratio: 1 / 1;
  border-radius: 100%;  margin: 10px;
  opacity : 1;
  transition: 0.5s;
}

#histoire .title {
  display: flex;  justify-content: center;  align-items: center;
  font-size: 80%;  font-weight: bold;
  color: var(--Uranium_Blue);
  font-family: 'Merriweather Sans', sans-serif;
}

#histoire .image h1 , #histoire .image p {
  min-height: 18px;
  margin: 0px;
  color: var(--Mindaro);
}

#histoire .description p {
  max-height: 100%;  max-width: 100%;
  margin: 10px;
  
  font-family: 'Nunito', sans-serif;
  color: var(--Blue_Bell);

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;

  transition: 0.5s;
}

#histoire .image p {
  color: var(--Mindaro);
  font-family: 'Merriweather Sans', sans-serif;
}



/** Media Queries */
@media (max-width: 530px) {
  #histoire > div {width: 240px;  height: 340px;}
  #histoire .title h1 {font-size: 1.2em;}
}

@media (max-width: 380px) {
  #histoire > div {width: 200px;  height: 340px;}
  #histoire .title h1 {font-size: 1em;}
}



/** Hovers */
#histoire > div:hover .description p {color: var(--Uranium_Blue);  transition: 0.5s;}
#histoire > div:hover .title h1 {color: var(--Blue_Bell);  transition: 0.5s;}
#histoire > div:hover {background-color: var(--Davys_Grey_10light);  transition: 0.5s;}

#histoire > div:hover .image {
  flex-flow: row;
  aspect-ratio: 100 / 42.5;
  border-radius: 25px;
  background-color: #00000000;
  transition: 0.3s;
}



/* ! Incontournables */
/** Grid Template Card*/
#incontournables {overflow-wrap: break-word;  display: inline-block;}

#incontournables .grid-wrap{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 10% 45%;
  height: 100%;
  grid-template-areas: "image" "title" "text";
}

#incontournables .image {grid-area: image;}
#incontournables .title {grid-area: title;}
#incontournables .description {grid-area: text;}



/** Page - Incontournables */
#incontournables h1 {font-size: 1.7em;}
#incontournables a {text-decoration: none;}

#incontournables > div {
  display: inline-block;  vertical-align: top;
  width: 340px;  height: 340px;
  margin: 30px;  border-radius: 25px;
  aspect-ratio: 1 / 1;
  background-color: var(--Davys_Grey);
  transition: 0.5s;
}

#incontournables .image {
  display: flex;  justify-content: center;  align-items: center;
  max-width: 100%;
}

#incontournables .image img {
  object-fit: cover;  object-position: top;
  max-width: calc(100% - 20px);  max-height: calc(100% - 20px);
  border-radius: 100%;  margin: 10px;
  aspect-ratio: 1 / 1;
  transition: 0.5s
}

#incontournables .title {
  display: flex;  justify-content: center;  align-items: center;
  font-size: 80%;  font-weight: bold;
  color: var(--Uranium_Blue);
  font-family: 'Merriweather Sans', sans-serif;
}

#incontournables .description p {
  max-height: 100%;  max-width: 100%;
  margin: 10px;
  
  font-family: 'Nunito', sans-serif;
  color: var(--Blue_Bell);

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;

  transition: 0.5s;
}



/** Media Queries */
@media (max-width: 530px) {
  #incontournables > div {width: 240px;  height: 340px;}
  #incontournables .title h1 {font-size: 1.2em;}
}

@media (max-width: 380px) {
  #incontournables > div {width: 200px;  height: 340px;}
  #incontournables .title h1 {font-size: 1em;}
}



/** Hovers */
#incontournables > div:hover p {color: var(--Uranium_Blue);  transition: 0.5s;}
#incontournables > div:hover .title h1 {color: var(--Blue_Bell);  transition: 0.5s;}


#incontournables > div:hover {
  display: inline-block;
  margin: 30px;  border-radius: 25px;
  background-color: var(--Davys_Grey_10light);
  transition: 0.5s;
}

#incontournables > div:hover .image img {
  aspect-ratio: 100 / 42.5;
  border-radius: 25px;
  transition: 0.3s;
}



/* ! Lieu */
/** Grid template */
#lieu{grid-template-rows: 50% 15% 35%;}
#lieu #img1{grid-area: img1 ; grid-column: 1/2 ; grid-row: 1 ;}
#lieu #img2{grid-area: img2 ; grid-column: 2/3 ; grid-row: 1 ;}
#lieu #img3{grid-area: img3 ; grid-column: 3/4 ; grid-row: 1 ;}
#lieu #img4{grid-area: img4 ; grid-column: 4/5 ; grid-row: 1 ;}
#lieu #title{grid-area: title ; grid-column: 1/5 ; grid-row: 2 ;}
#lieu #text{grid-area: text ; grid-column: 1/5 ; grid-row: 3 ;}


@media (max-width: 1800px) {
  #lieu #img1{grid-area: img1 ; grid-column: 1/2 ; grid-row: 1 ;}
  #lieu #img2{grid-area: img2 ; grid-column: 2/3 ; grid-row: 1 ;}
  #lieu #img3{grid-area: img3 ; grid-column: 1/2 ; grid-row: 4 ;}
  #lieu #img4{grid-area: img4 ; grid-column: 2/3 ; grid-row: 4 ;}
  #lieu #title{grid-area: title ; grid-column: 1/3 ; grid-row: 2 ;}
  #lieu #text{grid-area: text ; grid-column: 1/3 ; grid-row: 3 ;}
}

@media (max-width: 770px) {
  #lieu #img1{grid-area: img1 ; grid-column: 1/1 ; grid-row: 1 ;}
  #lieu #img2{grid-area: img2 ; grid-column: 1/1 ; grid-row: 2 ;}
  #lieu #img3{grid-area: img3 ; grid-column: 1/1 ; grid-row: 5 ;}
  #lieu #img4{grid-area: img4 ; grid-column: 1/1 ; grid-row: 6 ;}
  #lieu #title{grid-area: title ; grid-column: 1/1 ; grid-row: 3 ;}
  #lieu #text{grid-area: text ; grid-column: 1/1 ; grid-row: 4 ;}
}



/** Grid Template Card*/
#lieu {
  display: grid;
  justify-content: center;  align-items: center;
  grid-gap: 0;  margin: 0;  width: fit-content;
}



/** Page - Lieu */
#lieu .img {display: flex;  align-items: center;  justify-content: center;  align-self: center;}
#lieu p {height: 100%;  max-width: 670px;}

#lieu img {
  padding: 20px;  border-radius: 50px;
  width: 320px;  height: 320px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#lieu #title {
  display: flex;  align-items: center;  justify-content: center;
  color: var(--Uranium_Blue);
  text-align: center;
  padding: 20px;
}

#lieu #text {
  display: flex;  justify-content: center;
  height: 100%;  padding: 20px;  flex-grow: 1;
  
  color: var(--Blue_Bell);
  font-family: 'Nunito', sans-serif;
  text-align: center;
}



/** Media Queries */
@media (max-width: 530px) {
  #lieu #title h1 {font-size: 1.2em;}
  #lieu #text p {font-size: 12px;}
  #lieu img {width: 220px;  height: 220px;}
}

@media (max-width: 380px) {
  #lieu #title h1 {font-size: 1em;}
  #lieu #text p {font-size: 8px;}
  #lieu img {width: 120px;  height: 120px;}
}
