@import "colors.less";





@media (max-width: 800px) {

    body #content .accueil {
        display: grid;
    
        grid-template-rows: 40% 20% 40%;
        grid-template-columns: 100%;
        
        grid-gap: 0;
        column-gap: 4%;
        margin: 0;
    
        grid-template-areas:
            "image"
            "title"
            "text";
    }

    #content .accueil .text , #content .accueil .title {
        justify-content: center;
    }

    #content .accueil .image {
        align-items: flex-end;
    }
}




@media (min-width: 800px) {

    body #content .accueil {
        display: grid;
    
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        
        grid-gap: 0;
        column-gap: 4%;
        height: 80vh;
        margin: 0;
    
        grid-template-areas:
            "title image"
            "text image";
    }

    #content .accueil .text , #content .accueil .title {
        justify-content: right;
    }

    #content .accueil .image {
        align-items: center;
    }
}






#content .title{grid-area: title;}
#content .text{grid-area: text;}
#content .image{grid-area: image;}


#content .accueil .image {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    max-width: 90%;
    max-height: 100%;
}

#content .accueil .image img {
    border-radius: calc(5vh * 4) calc(5vh * 1) calc(5vh * 2) calc(5vh * 1);
    max-width: 90%;
    max-height: 90%;
}

#content .accueil .title {
    display: flex;
    align-self: flex-end;
    font-family: 'Merriweather Sans', sans-serif;
    color: @Uranium_Blue;
    font-size: calc( 100vh * calc(1/40) );
}

#content .accueil .title h2 {
    margin: 0px;
}


#content .accueil .text {
    font-family: 'Nunito', sans-serif;
    color: @Blue_Bell;
    display: flex;
    align-self: flex-start;
    font-size: calc( 100vh * calc(1/60) );
}

#content .accueil .wrapper {
    display: flex;
    flex-flow: column;
    width: 75%;
    text-align: justify;
}

#content .accueil a {
    font-size: calc( 100vh * calc(1/55) );
    text-decoration: none;
    color: @Mindaro;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}

#content .accueil .text a {
    background-color: #00000000;
    color: @Mindaro;
    transition: 0.5s;
}

#content .accueil .text a:hover {
    color: @Uranium_Blue;
    background-color: fade(@Blue_Bell, 30%);
    transition: 0.5s;
}