body #content .accueil {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  column-gap: 4%;
  height: 80vh;
  margin: 0;
  grid-template-areas: "title image" "text image";
}
#content .title {
  grid-area: title;
}
#content .text {
  grid-area: text;
}
#content .image {
  grid-area: image;
}
#content .accueil .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  max-width: 90%;
  max-height: 100%;
}
#content .accueil .image img {
  border-radius: 20vh 5vh 10vh 5vh;
  max-width: 90%;
  max-height: 90%;
}
#content .accueil .title {
  display: flex;
  justify-content: right;
  align-self: flex-end;
  font-family: 'Merriweather Sans', sans-serif;
  color: #B0DAF1;
  font-size: 1.66666667vw;
}
#content .accueil .title h2 {
  margin: 0px;
}
#content .accueil .text {
  font-family: 'Nunito', sans-serif;
  color: #8D91C7;
  display: flex;
  justify-content: right;
  align-self: flex-start;
  font-size: 1.66666667vh;
}
#content .accueil .wrapper {
  width: 75%;
  text-align: justify;
}
