/* Imports */
@import "colors.less";


.mixin_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    max-width: 80vw;
    min-height: 80vh;
}


/* Fonts */

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}


/* GRID STYLES START HERE */
body {
    display: grid;
    background-image: url(/static/img/background.svg);
    background-repeat: repeat;
    background-color: fade(@Eerie_Black, 99%);

    grid-template-rows: 10vh calc(100% - 20vh) 10vh;
    grid-template-columns: 20% 80%;
    
    grid-gap: 0;
    height: auto;
    margin: 0;

    grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
}

header{grid-area: header;}
nav{grid-area: nav;}
.content{grid-area: content;}
footer{grid-area: footer;}




/* Header */
header {
    background-color: lighten(@Davys_Grey, -5%);
    opacity: 1;
    display: flex;
}

header img {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

header h1 {
    color: lighten(@Mindaro, -10%);
    margin: 0px;
    .mixin_center;
    font-size: calc( 100vw * calc(1/23) );
}

header .left, header .right {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7px;
}



/* Footer */
footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .rectangle {
    background-color: lighten(@Davys_Grey, -5%);
    opacity: 1;
    height: 10%;
    width: 100%;
    .mixin_center;
}

footer #first {
    height: fit-content;
    width: fit-content;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 100px 100px 0px 0px;
    flex-direction: row;

    .mixin_center
}


footer a {
    margin: 0px 5px 0px 5px;
    width: calc(25vh * calc(1/4));
    aspect-ratio: 1 / 1;
    .mixin_center;
}

footer a svg {
    max-height: 100%;
    color: @Blue_Bell;
    transition: 0.4s;
}

footer a:hover svg {
    transition: 0.4s;
    color: lighten(@Blue_Bell, 20%);
}



/* Navbar */
nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

nav li {
    white-space: nowrap;
}

nav > ul {
    padding: 0px;
}

nav > ul > li > ul {
    list-style-position: inside;
    padding-inline-start: 2vw;
}

nav ul  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    list-style: none;
    max-width: 100%;
}



.single {
    list-style: circle;
    color: @Blue_Bell;
}

nav a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    color: @Uranium_Blue;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;

    border-radius: 6px;
    margin:5px;
    padding: 5px;
    
    transition: 0.1s;
    max-width: 20vw;
    font-size: calc( calc( 100vw * calc(1/160) ) + calc( 100vh * calc(1/80) ) );
}

nav a:hover {
    background-color: @Davys_Grey;
    transition: 0.3s;
}


.credits {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column;
}

.credits a {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #00000000 ;
    color:  @Mindaro;
    font-family: 'Roboto Condensed', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    text-decoration: none;
}

.credits a:hover {
    border-color: @Blue_Bell;
}

.credits h1 {
    color: @Blue_Bell;
    align-self: center;
}