/* Imports */
@import "colors.less";

.mixin_center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* GRID STYLES START HERE */
body {
    display: grid;
    background-color: @Eerie_Black;

    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 80%;
    
    grid-gap: 0;
    height: 100vh;
    margin: 0;

    grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
}

header{grid-area: header;}
nav{grid-area: nav;}
#content{grid-area: content;}
footer{grid-area: footer;}




/* Header */
header {
    background-color: @Davys_Grey;
    opacity: 0.7;
    display: flex;
}



/* Footer */
footer {
    background-color: @Eerie_Black;
    flex-direction: column;
    .mixin_center;
}

footer .rectangle {
    background-color: @Davys_Grey;
    opacity: 0.7;
    height: 10%;
    width: 100%;
}

footer #first {
    height: 90%;
    width: 100% * (1/4);
    border-radius: 100px 100px 0px 0px;
    .mixin_center;
    flex-direction: row;
}

footer a {
    width: 100% * (1/4);
    height: 90%;
    .mixin_center;
}

footer a svg {
    max-height: 100%;
    color: @Blue_Bell;
    transition: 0.4s;
}

footer a:hover svg {
    transition: 0.4s;
    color: lighten(@Blue_Bell, 20%);
    max-height: 105%;
}



/* Navbar */
nav {
    background-color: @Eerie_Black;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav > div > ul {
    padding: 0px;
}

nav ul  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    list-style: none;
}

.double {
    margin: 7px;
}

.single {
    margin: 4px;
}

nav a {
    color: @Uranium_Blue;
    text-decoration: none;
    border-radius: 6px;
    margin:5px;
    padding: 5px;
    background-color: transparent;
    transition: 0.1s;
}

nav a:hover {
    background-color: @Davys_Grey;
    transition: 0.1s;
}



/* Content */
#content {
    background-color: @Eerie_Black;
    display: flex;
}

