/* Imports */
@import "colors.less";


.mixin_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fonts */

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}


/* GRID STYLES START HERE */
body {
    display: grid;
    background-image: url(/static/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: fade(@Eerie_Black, 99%);

    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 80%;
    
    grid-gap: 0;
    height: 100vh;
    margin: 0;

    grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
}

header{grid-area: header;}
nav{grid-area: nav;}
#content{grid-area: content;}
footer{grid-area: footer;}




/* Header */
header {
    background-color: lighten(@Davys_Grey, -5%);
    opacity: 1;
    display: flex;
}

header img {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

header h1 {
    color: lighten(@Mindaro, -10%);
    margin: 0px;
    .mixin_center;
    font-size: (100vw) * (1/23);
}

header .left, header .right {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7px;
}



/* Footer */
footer {
    flex-direction: column;
    .mixin_center;
}

footer .rectangle {
    background-color: lighten(@Davys_Grey, -5%);
    opacity: 1;
    height: 10%;
    width: 100%;
}

footer #first {
    height: 90%;
    width: 100% * (1/4);
    border-radius: 100px 100px 0px 0px;
    .mixin_center;
    flex-direction: row;
}

footer a {
    width: 100% * (1/4);
    height: 90%;
    .mixin_center;
}

footer a svg {
    max-height: 100%;
    color: @Blue_Bell;
    transition: 0.4s;
}

footer a:hover svg {
    transition: 0.4s;
    color: lighten(@Blue_Bell, 20%);
    max-height: 105%;
}



/* Navbar */
nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

nav > div > ul {
    padding: 0px;
}

nav ul  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    list-style: none;
}

.double , .single {
    margin: (100vw) * (1/200);
}

.single {
    list-style: circle;
    color: @Blue_Bell;
}

nav a {
    color: @Uranium_Blue;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    border-radius: 6px;
    margin:5px;
    padding: 5px;
    background-color: transparent;
    transition: 0.1s;
    font-size: (100vh) * (1/45);
}

nav a:hover {
    background-color: @Davys_Grey;
    transition: 0.1s;
}