/* Imports */
@import "colors.less";



#content.incontournables {
    overflow-wrap: break-word;
    display: inline-block;
}

#content.incontournables > div {
    max-width: 340px;
    max-height: 340px;
    min-height: 250px;
    min-width: 250px;
    aspect-ratio: 1 / 1;
    margin: 30px;
    border-radius: 25px;
    display: inline-block;
    background-color: @Davys_Grey;
    transition: 0.5s;
}

#content.incontournables > div:hover {
    border-radius: 100%;
    margin: 30px;
    border-radius: 25px;
    display: inline-block;
    background-color: lighten(@Davys_Grey, -10);
    transition: 0.5s;
}

#content.incontournables > div:hover .grid-wrap p {color: @Uranium_Blue;transition: 0.5s};
#content.incontournables > div:hover .grid-wrap .title {color: @Blue_Bell;transition: 0.5s};

#content.incontournables > div:hover .image img {
    aspect-ratio: 100 / 42.5;
    border-radius: 25px;
    transition: 0.3s;
};


#content.incontournables .image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content.incontournables .image img {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    margin: 10px;
    object-fit: cover;
    object-position: top;
    transition: 0.5s
}

#content.incontournables .grid-wrap {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 45%;
    height: 100%;

    grid-template-areas:
        "image"
        "title"
        "text";
}

#content.incontournables .grid-wrap .image {grid-area: image;}
#content.incontournables .grid-wrap .title {grid-area: title;}
#content.incontournables .grid-wrap .description {grid-area: text;}

#content.incontournables .grid-wrap .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    font-weight: bold;

    color: @Uranium_Blue;
    font-family: 'Merriweather Sans', sans-serif;
}

#content.incontournables .grid-wrap .description p {
    max-height: 100%;
    margin: 0px;
    margin: 10px;
    
    font-family: 'Nunito', sans-serif;
    color: @Blue_Bell;

    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

#content.incontournables h1 {
    font-size: 1.7em;
}

#content.incontournables a {
    text-decoration: none;
}