#content.incontournables {
    overflow-wrap: break-word;
    display: inline-block;
}

#content.incontournables > div {
    width: 300px;
    height: 300px;
    min-width: 300px;
    margin: 30px;
    display: inline-block;
    background-color: red;
}

