/* Imports */
.mixin_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Fonts */
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}
/* GRID STYLES START HERE */
body {
  display: grid;
  background-image: url(/static/img/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(37, 37, 37, 0.99);
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
  height: 100vh;
  margin: 0;
  grid-template-areas: "header header" "nav content" "footer footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
#content {
  grid-area: content;
}
footer {
  grid-area: footer;
}
/* Header */
header {
  background-color: #424242;
  opacity: 1;
  display: flex;
}
header img {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}
header h1 {
  color: #c9fa7c;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.34782609vw;
}
header .left,
header .right {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px;
}
/* Footer */
footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .rectangle {
  background-color: #424242;
  opacity: 1;
  height: 10%;
  width: 100%;
}
footer #first {
  height: 90%;
  width: 25%;
  border-radius: 100px 100px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer a {
  width: 25%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a svg {
  max-height: 100%;
  color: #8D91C7;
  transition: 0.4s;
}
footer a:hover svg {
  transition: 0.4s;
  color: #d1d3e9;
  max-height: 105%;
}
/* Navbar */
nav {
  display: flex;
  justify-content: left;
  align-items: center;
}
nav > div > ul {
  padding: 0px;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  list-style: none;
}
.double,
.single {
  margin: 0.5vw;
}
nav a {
  color: #B0DAF1;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  transition: 0.1s;
  font-size: 2.22222222vh;
}
nav a:hover {
  background-color: #4F4F4F;
  transition: 0.1s;
}
/* Content */
body #content .accueil {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  height: 80vh;
  margin: 0;
  grid-template-areas: "title image" "text void";
}
#content #title {
  grid-area: title;
}
#content #text {
  grid-area: text;
}
#content #image {
  grid-area: image;
}
#content #void {
  grid-area: void;
}
#content .accueil .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .accueil .image img {
  border-radius: 20vh 5vh 10vh 5vh;
  max-width: 75%;
  max-height: 90%;
}
#content .accueil .title {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-family: 'Merriweather Sans', sans-serif;
  color: #B0DAF1;
  font-size: 1.66666667vw;
}
#content .accueil .title h2 {
  margin: 0px;
}
#content .accueil .text {
  font-family: 'Nunito', sans-serif;
  color: #8D91C7;
  display: flex;
  justify-content: right;
  align-self: flex-start;
  font-size: 1.66666667vh;
}
#content .accueil .text .wrapper {
  width: 75%;
  text-align: justify;
}
/* GRID STYLES START HERE */
body #content .incontournables {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
  height: 100vh;
  margin: 0;
  grid-template-areas: "header header" "nav content" "footer footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
#content {
  grid-area: content;
}
footer {
  grid-area: footer;
}
