/* Imports */
.mixin_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  max-width: 80vw;
  min-height: 80vh;
}
/* Fonts */
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}
/* GRID STYLES START HERE */
body {
  display: grid;
  background-image: url(/static/img/background.svg);
  background-repeat: repeat;
  background-color: rgba(37, 37, 37, 0.99);
  grid-template-rows: 10vh calc(100% - 20vh) 10vh;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
  height: auto;
  margin: 0;
  grid-template-areas: "header header" "nav content" "footer footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
.content {
  grid-area: content;
}
footer {
  grid-area: footer;
}
/* Header */
header {
  background-color: #424242;
  opacity: 1;
  display: flex;
}
header img {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}
header h1 {
  color: #c9fa7c;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(100vw * calc(1/23));
}
header .left,
header .right {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px;
}
/* Footer */
footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .rectangle {
  background-color: #424242;
  opacity: 1;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #first {
  height: fit-content;
  width: fit-content;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 100px 100px 0px 0px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  margin: 0px 5px 0px 5px;
  width: calc(25vh * calc(1/4));
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a svg {
  max-height: 100%;
  color: #8D91C7;
  transition: 0.4s;
}
footer a:hover svg {
  transition: 0.4s;
  color: #d1d3e9;
}
/* Navbar */
nav {
  display: flex;
  justify-content: left;
  align-items: center;
}
nav li {
  white-space: nowrap;
}
nav > ul {
  padding: 0px;
}
nav > ul > li > ul {
  list-style-position: inside;
  padding-inline-start: 2vw;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  list-style: none;
  max-width: 100%;
}
.single {
  list-style: circle;
  color: #8D91C7;
}
nav a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #B0DAF1;
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  transition: 0.1s;
  max-width: 20vw;
  font-size: calc(calc(100vw * calc(1/160)) + calc(100vh * calc(1/80)));
}
nav a:hover {
  background-color: #4F4F4F;
  transition: 0.3s;
}
.credits {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: column;
}
.credits a {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #00000000;
  color: #DDFCAD;
  font-family: 'Roboto Condensed', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
  text-decoration: none;
}
.credits a:hover {
  border-color: #8D91C7;
}
.credits h1 {
  color: #8D91C7;
  align-self: center;
}
@media (max-width: 800px) {
  body #content .accueil {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    grid-template-columns: 100%;
    grid-gap: 0;
    column-gap: 4%;
    margin: 0;
    grid-template-areas: "image" "title" "text";
  }
  #content .accueil .text,
  #content .accueil .title {
    justify-content: center;
  }
  #content .accueil .image {
    align-items: flex-end;
  }
}
@media (min-width: 800px) {
  body #content .accueil {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    column-gap: 4%;
    height: 80vh;
    margin: 0;
    grid-template-areas: "title image" "text image";
  }
  #content .accueil .text,
  #content .accueil .title {
    justify-content: right;
  }
  #content .accueil .image {
    align-items: center;
  }
}
#content .title {
  grid-area: title;
}
#content .text {
  grid-area: text;
}
#content .image {
  grid-area: image;
}
#content .accueil .image {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  max-width: 90%;
  max-height: 100%;
}
#content .accueil .image img {
  border-radius: calc(5vh * 4) calc(5vh * 1) calc(5vh * 2) calc(5vh * 1);
  max-width: 90%;
  max-height: 90%;
}
#content .accueil .title {
  display: flex;
  align-self: flex-end;
  font-family: 'Merriweather Sans', sans-serif;
  color: #B0DAF1;
  font-size: calc(100vh * calc(1/40));
}
#content .accueil .title h2 {
  margin: 0px;
}
#content .accueil .text {
  font-family: 'Nunito', sans-serif;
  color: #8D91C7;
  display: flex;
  align-self: flex-start;
  font-size: calc(100vh * calc(1/60));
}
#content .accueil .wrapper {
  display: flex;
  flex-flow: column;
  width: 75%;
  text-align: justify;
}
#content .accueil a {
  font-size: calc(100vh * calc(1/55));
  text-decoration: none;
  color: #DDFCAD;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}
#content .accueil .text a {
  background-color: #00000000;
  color: #DDFCAD;
  transition: 0.5s;
}
#content .accueil .text a:hover {
  color: #B0DAF1;
  background-color: rgba(141, 145, 199, 0.3);
  transition: 0.5s;
}
/* Imports */
#content.histoire {
  overflow-wrap: break-word;
  display: inline-block;
}
#content.histoire > div {
  max-width: 340px;
  max-height: 340px;
  min-height: 250px;
  min-width: 250px;
  aspect-ratio: 1 / 1;
  margin: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: #4F4F4F;
  transition: 0.5s;
  vertical-align: top;
}
#content.histoire > div:hover {
  border-radius: 100%;
  margin: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: #363636;
  transition: 0.5s;
}
#content.histoire > div:hover .grid-wrap .description p {
  color: #B0DAF1;
  transition: 0.5s;
}
#content.histoire > div:hover .grid-wrap .image h1 {
  color: #DDFCAD;
  transition: 0.5s;
}
#content.histoire > div:hover .grid-wrap .title h1 {
  color: #8D91C7;
  transition: 0.5s;
}
#content.histoire > div:hover .image {
  aspect-ratio: 100 / 42.5;
  border-radius: 25px;
  background-color: #00000000;
  flex-flow: row;
  transition: 0.3s;
}
#content.histoire .image {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: center;
  justify-self: center;
  height: 130px;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  margin: 10px;
  object-position: center;
  opacity: 1;
  transition: 0.5s;
}
#content.histoire .image p {
  padding: 0px 5px;
  white-space: nowrap;
}
#content.histoire .grid-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 10% 45%;
  height: 100%;
  grid-template-areas: "image" "title" "text";
}
#content.histoire .grid-wrap .image {
  grid-area: image;
}
#content.histoire .grid-wrap .title {
  grid-area: title;
}
#content.histoire .grid-wrap .description {
  grid-area: text;
}
#content.histoire .grid-wrap .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
  color: #B0DAF1;
  font-family: 'Merriweather Sans', sans-serif;
}
#content.histoire .grid-wrap .image h1,
#content.histoire .grid-wrap .image p {
  color: #DDFCAD;
  margin: 0px;
  min-height: 18px;
}
#content.histoire .grid-wrap .description p {
  max-height: 100%;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
  color: #8D91C7;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
#content.histoire h1 {
  font-size: 1.7em;
}
#content.histoire .image p {
  color: #DDFCAD;
  font-family: 'Merriweather Sans', sans-serif;
}
/* Imports */
#content.incontournables {
  overflow-wrap: break-word;
  display: inline-block;
}
#content.incontournables > div {
  max-width: 340px;
  max-height: 340px;
  min-height: 250px;
  min-width: 250px;
  aspect-ratio: 1 / 1;
  margin: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: #4F4F4F;
  transition: 0.5s;
}
#content.incontournables > div:hover {
  border-radius: 100%;
  margin: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: #363636;
  transition: 0.5s;
}
#content.incontournables > div:hover .grid-wrap p {
  color: #B0DAF1;
  transition: 0.5s;
}
#content.incontournables > div:hover .grid-wrap .title {
  color: #8D91C7;
  transition: 0.5s;
}
#content.incontournables > div:hover .image img {
  aspect-ratio: 100 / 42.5;
  border-radius: 25px;
  transition: 0.3s;
}
#content.incontournables .image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content.incontournables .image img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  margin: 10px;
  object-fit: cover;
  object-position: top;
  transition: 0.5s;
}
#content.incontournables .grid-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 10% 45%;
  height: 100%;
  grid-template-areas: "image" "title" "text";
}
#content.incontournables .grid-wrap .image {
  grid-area: image;
}
#content.incontournables .grid-wrap .title {
  grid-area: title;
}
#content.incontournables .grid-wrap .description {
  grid-area: text;
}
#content.incontournables .grid-wrap .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
  color: #B0DAF1;
  font-family: 'Merriweather Sans', sans-serif;
}
#content.incontournables .grid-wrap .description p {
  max-height: 100%;
  margin: 0px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
  color: #8D91C7;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
#content.incontournables h1 {
  font-size: 1.7em;
}
#content.incontournables a {
  text-decoration: none;
}
@media (min-width: 1800px) {
  body #content.lieu {
    grid-template-rows: 50% 15% 35%;
  }
  .lieu #img1 {
    grid-area: img1 ;
    grid-column: 1/2;
    grid-row: 1 ;
  }
  .lieu #img2 {
    grid-area: img2 ;
    grid-column: 2/3;
    grid-row: 1 ;
  }
  .lieu #img3 {
    grid-area: img3 ;
    grid-column: 3/4;
    grid-row: 1 ;
  }
  .lieu #img4 {
    grid-area: img4 ;
    grid-column: 4/5;
    grid-row: 1 ;
  }
  .lieu #title {
    grid-area: title ;
    grid-column: 1/5;
    grid-row: 2 ;
  }
  .lieu #text {
    grid-area: text ;
    grid-column: 1/5;
    grid-row: 3 ;
  }
}
@media (max-width: 1800px) {
  .lieu #img1 {
    grid-area: img1 ;
    grid-column: 1/2;
    grid-row: 1 ;
  }
  .lieu #img2 {
    grid-area: img2 ;
    grid-column: 2/3;
    grid-row: 1 ;
  }
  .lieu #img3 {
    grid-area: img3 ;
    grid-column: 1/2;
    grid-row: 4 ;
  }
  .lieu #img4 {
    grid-area: img4 ;
    grid-column: 2/3;
    grid-row: 4 ;
  }
  .lieu #title {
    grid-area: title ;
    grid-column: 1/3;
    grid-row: 2 ;
  }
  .lieu #text {
    grid-area: text ;
    grid-column: 1/3;
    grid-row: 3 ;
  }
}
body #content.lieu {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 0;
  margin: 0;
  width: fit-content;
}
.lieu .img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.lieu img {
  aspect-ratio: 1/1;
  padding: 20px;
  width: 320px;
  height: 320px;
  border-radius: 50px;
  object-fit: cover;
}
.lieu #title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0DAF1;
  text-align: center;
  padding: 20px;
}
.lieu #text {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  color: #8D91C7;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 20px;
}
.lieu p {
  height: 100%;
  max-width: 600px;
}
