<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Histoire</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>


    <div id="content" class="histoire">
        <div id="lieu1">
            <div class="grid-wrap">
                <div class="image"><h1>1066</h1></div>
                <div class="title"><h1>Royaume Anglo-Normand</h1></div>
                <div class="description"><p>Les Normands remportent la bataille d'Hastings. Leur duc, Guillaume le Conquérant, devient roi d'Angleterre et donne naissance au royaume anglo-normand.</p></div>
            </div>
        </div>
        <div id="lieu2">
            <div class="grid-wrap">
                <div class="image"><h1>1431</h1></div>
                <div class="title"><h1>Jeanne d'Arc</h1></div>
                <div class="description"><p>Jeanne d'Arc, une jeune bergère lorraine qui avait sonné la révolte française contre l'occupant, est condamnée pour hérésie et brûlée vive, à Rouen.</p></div>
            </div>
        </div>
        <div id="lieu3">
            <div class="grid-wrap">
                <div class="image"><h1>1790</h1></div>
                <div class="title"><h1>Découpage en Départements</h1></div>
                <div class="description"><p>Au lendemain de la Révolution, la Normandie est découpée en cinq départements - Calvados, Eure, Orne, Manche, Seine-inférieure - et son droit coutumier est aboli.</p></div>
            </div>
        </div>
        <div id="lieu4">
            <div class="grid-wrap">
                <div class="image"><p>6 Juin</p><h1>1944</h1><p></p></div>
                <div class="title"><h1>Débarquement</h1></div>
                <div class="description"><p>Les Alliés débarquent sur les plages normandes le 6 juin puis remportent la bataille de Normandie, décisive pour la victoire sur l'Allemagne nazie.</p></div>
            </div>
        </div>
        <div id="lieu5">
            <div class="grid-wrap">
                <div class="image"><p>1er Janvier</p><h1>2016</h1><p></p></div>
                <div class="title"><h1>Réunification</h1></div>
                <div class="description"><p>Divisée en deux régions administratives depuis 1956, la Normandie est réunifiée dans le cadre de la réforme territoriale.</p></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>