<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Incontournables</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>


    <div class="content" id="incontournables">
        <div id="lieu1">
            <a href="/lieux/mont-st-michel"><div class="grid-wrap">
                <div class="image"><img src="{{ url_for('static', filename='img/lieu1/1.jpg') }}" alt="Image du Mont-Saint-Michel"></div>
                <div class="title"><h1>Mont-Saint-Michel</h1></div>
                <div class="description"><p>C'est l'environnement maritime qui avait déterminé le choix des moines du Moyen Âge de s'installer à cet endroit précis et d'y bâtir ce qui allait devenir l'un des plus extraordinaires édifices de l'architecture religieuse. Aubert, évêque d'Avranches, aurait en fondé un sanctuaire sur le Mont-Tombe en 708, après trois apparitions successives de l'archange saint Michel. Surplombant l'immensité de la baie, l'abbaye du Mont-Saint-Michel est le point d'orgue de la visite. Le Mont et sa baie sont classés au patrimoine mondial de l'UNESCO depuis 1979. Pour avoir un autre point de vue sur la Merveille, nous ne pouvons que vous conseiller la traversée de la baie avec un guide.</p></div>
            </div></a>
        </div>
        <div id="lieu2">
            <a href="/lieux/chateau-de-caen"><div class="grid-wrap">
                <div class="image"><img src="{{ url_for('static', filename='img/lieu2/3.jpg') }}" alt="Image du Château de Caen"></div>
                <div class="title"><h1>Château de Caen</h1></div>
                <div class="description"><p>Construit vers 1060 par Guillaume le Conquérant, le château ducal est devenu une résidence favorite des ducs de Normandie, rois d'Angleterre qui lui ont donné l'ampleur d'une des plus vastes enceintes fortifiées d'Europe. Les remparts, la Porte des Champs, les vestiges du grand donjon, la salle de l'Echiquier, l'église Saint-Georges offrent le témoignage du passé dans un lieu devenu l'enceinte des musées en accueillant le musée de Normandie et le musée des Beaux-Arts. Objet d'un vaste chantier d'aménagement, le château offre de nouvelles vues sur la ville depuis le belvédère aménagé sur le rempart restauré et révèle ses secrets dans le magnifique espace souterrain de la Salle des Remparts.</p></div>
            </div></a>
        </div>
        <div id="lieu3">
            <a href="/lieux/abbaye-aux-hommes"><div class="grid-wrap">
                <div class="image"><img src="{{ url_for('static', filename='img/lieu3/4.jpg') }}" alt="Image de l'Abbaye aux Hommes"></div>
                <div class="title"><h1>Abbaye aux Hommes</h1></div>
                <div class="description"><p>Fondée en 1063 par Guillaume le Conquérant, l'abbaye bénédictine de St Etienne de Caen fut consacrée en 1077. Les bâtiments monastiques du 18e siècle, abritant le cloître, des salles lambrissées parées de tableaux et la Salle des Gardes, sont aujourd'hui le siège de l'Hôtel de Ville. L'abbatiale abrite le tombeau de Guillaume.</p></div>
            </div></a>
        </div>
        <div id="lieu4">
            <a href="/lieux/plages-du-debarquement"><div class="grid-wrap">
                <div class="image"><img src="{{ url_for('static', filename='img/lieu4/2.jpg') }}" alt="Image des Plages du Débarquement"></div>
                <div class="title"><h1>Plages du Débarquement</h1></div>
                <div class="description"><p>De Utah à Sword Beach, consultez la carte des Plages du Débarquement pour organiser votre prochaine visite en Normandie.Les Plages du Débarquement conservent des témoignages de l'épisode déterminant que fut le Débarquement du 6 juin 1944 dans la libération de la France. Situées dans les départements du Calvados et la Manche, elles s'étendent sur plusieurs kilomètres entre Ouistreham et Sainte-Marie-du-Mont, en passant par Arromanches-les-Bains et Colleville-sur-Mer.</p></div>
            </div></a>
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>