<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Accueil</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>

    <div class="content" id="accueil">
        <div id="title">
            <div class="wrapper"><h2>La Normandie</h2></div>
        </div>
        <div id="text">
            <div class="wrapper">
                <p>La Normandie est une région incontournable pour tous ceux qui s'intéressent à l'histoire et au patrimoine. Nous vous invitons à découvrir tous ces lieux historiques lors de votre prochaine visite en Normandie.</p>
                <a href="/incontournables">⇨ Lieux Incontournables</a>
        </div>
        </div>
        <div id="image">
            <img src="{{ url_for('static', filename='img/normandie.jpg') }}" alt="Photo de la région">
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>