<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Abbaye aux Hommes</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>


    <div class="content" id="lieu">
        <div id="img1" class="img"><img src="{{ url_for('static', filename='img/lieu3/1.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img2" class="img"><img src="{{ url_for('static', filename='img/lieu3/2.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img3" class="img"><img src="{{ url_for('static', filename='img/lieu3/3.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img4" class="img"><img src="{{ url_for('static', filename='img/lieu3/4.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="title"><h1>Abbaye aux Hommes</h1></div>
        <div id="text"><p>Fondée en 1063 par Guillaume le Conquérant, l'abbaye bénédictine de St Etienne de Caen fut consacrée en 1077. Les bâtiments monastiques du 18e siècle, abritant le cloître, des salles lambrissées parées de tableaux et la Salle des Gardes, sont aujourd'hui le siège de l'Hôtel de Ville. L'abbatiale abrite le tombeau de Guillaume.</p></div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>