<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Château de Caen</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>


    <div id="content" class="lieu">
        <div id="img1" class="img"><img src="{{ url_for('static', filename='img/lieu2/1.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img2" class="img"><img src="{{ url_for('static', filename='img/lieu2/2.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img3" class="img"><img src="{{ url_for('static', filename='img/lieu2/3.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img4" class="img"><img src="{{ url_for('static', filename='img/lieu2/4.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="title"><h1>Château de Caen</h1></div>
        <div id="text"><p>Construit vers 1060 par Guillaume le Conquérant, le château ducal est devenu une résidence favorite des ducs de Normandie, rois d'Angleterre qui lui ont donné l'ampleur d'une des plus vastes enceintes fortifiées d'Europe. Les remparts, la Porte des Champs, les vestiges du grand donjon, la salle de l'Echiquier, l'église Saint-Georges offrent le témoignage du passé dans un lieu devenu l'enceinte des musées en accueillant le musée de Normandie et le musée des Beaux-Arts. Objet d'un vaste chantier d'aménagement, le château offre de nouvelles vues sur la ville depuis le belvédère aménagé sur le rempart restauré et révèle ses secrets dans le magnifique espace souterrain de la Salle des Remparts.</p></div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>