<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Plages du Débarquement</title>
</head>

<body>
    <header w3-include-html="{{ url_for('static', filename='src/header.html') }}"></header>
    <nav w3-include-html="{{ url_for('static', filename='src/nav.html') }}"></nav>
    <footer div w3-include-html="{{ url_for('static', filename='src/footer.html') }}"></footer>


    <div id="content" class="lieu">
        <div id="img1" class="img"><img src="{{ url_for('static', filename='img/lieu4/1.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img2" class="img"><img src="{{ url_for('static', filename='img/lieu4/2.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img3" class="img"><img src="{{ url_for('static', filename='img/lieu4/3.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="img4" class="img"><img src="{{ url_for('static', filename='img/lieu4/4.jpg') }}" alt="Une photo de l'Abbaye aux Hommes"></div>
        <div id="title"><h1>Plages du Débarquement</h1></div>
        <div id="text"><p>De Utah à Sword Beach, consultez la carte des Plages du Débarquement pour organiser votre prochaine visite en Normandie.Les Plages du Débarquement conservent des témoignages de l'épisode déterminant que fut le Débarquement du 6 juin 1944 dans la libération de la France. Situées dans les départements du Calvados et la Manche, elles s'étendent sur plusieurs kilomètres entre Ouistreham et Sainte-Marie-du-Mont, en passant par Arromanches-les-Bains et Colleville-sur-Mer.</p></div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>includeHTML();</script>
</body>

</html>